*.o
*.os
*.dblite
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.ncb
*.suo
.build
[Bb]uild/
qkey
servercache.dat
games.log
qkey
*.cfg
ipch
*.opensdf
*.sdf
*.filters
*.*.user
*.ilk
*.pdb
*.bsc
*.exp
*.exe
cgamex86.dll
gamex86.dll
uix86.dll
QtZhistory
QtZconfig.cfg
stderr.txt
*.aps
*.idb
*.pk3
*.pk4
*.psd
*.old
*.orig
